<body>
    <head>
        <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="css/creative.css" rel="stylesheet">
    </head>
    <body id="aplication-body">
        <section id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading"><%= t(:information_visit) %></h2>
                        <hr class="primary">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class = "actions">
                          <b><%= t(:user_info) %></b>
                          <td><%= link_to @visitation.user.name, "/#{I18n.locale}/visitations/user_information?id=#{@visitation.id}" %></td>
                        </div>
                        <br>
                        <div class = "actions" >
                            <b><%= t(:date_schedule) %></b>
                            <%= l(@visitation.date, format: :long) %>
                        </div>
                        <br>
                        <div class = "actions" >
                            <b><%= t(:scheduled_period) %></b>
                            <%= @visitation.period %>
                        </div>
                        <br>
                        <div class = "actions" >
                            <b><%= t(:social_reason) %></b>
                            <%= @visitation.visitation_type %>
                        </div>
                        <br>
                        <div class = "actions" >
                            <b><%= t(:status) %></b>
                            <%= @visitation.status %>
                        </div>
                        <br>
                        <div class = "actions" >
                            <b><%= t(:number_visitors) %></b>
                            <%= @visitation.visitants_amount %>
                        </div>
                        <br>
                        <div class = "actions" >
                            <b><%= t(:number_paying_visitors) %></b>
                            <%= @visitation.visitants_paying %>
                        </div>
                        <br>
                        <div class = "actions" >
                            <b><%= t(:visit_price) %></b>
                            <%= @visitation.visitation_cost %>
                        </div>
                        <br>
                        <div class= "actions" >
                            <b><%= t(:description) %></b>
                            <%= @visitation.description %>
                        </div>

                        <br> <p>
                            <% if (current_user.is_employee)%>
                            <div class= "actions" >
                                <%= link_to t(:back), show_visitation_employee_path(@locale), class: "btn btn-primary"  %>
                                <% if (@visitation.status <=> "Aguardando confirmacao") == 0 %>
                                <%= link_to t(:acept_visit), "/#{I18n.locale}"+get_accept_visitation_employee_path(:id => @visitation.id), class: "btn btn-primary" %>
                                <%= link_to t(:refuse_visit), "/#{I18n.locale}"+get_refuse_visitation_employee_path(:id => @visitation.id), class: "btn btn-warning destroy-btn" %>
                                <%end%>
                                <%if (@visitation.status <=> "Agendado") == 0%>
                                <%= link_to t(:cancel_visit), "/#{I18n.locale}"+get_cancel_visitation_employee_path(:id => @visitation.id), class: "btn btn-warning destroy-btn" %>
                                <%end%>
                                <% if (@visitation.status <=> "Cancelado por funcionario") == 0 ||
                                    (@visitation.status <=> "Cancelado pelo usuario") == 0 ||
                                    (@visitation.status <=> "Recusado por funcionario") == 0 %>
                                    <%= link_to t(:remove_visit), "/#{I18n.locale}"+get_delete_visitation_employee_path(:id => @visitation.id), class: "btn btn-warning destroy-btn" %>
                                    <%end%>
                                    <%else%>
                                    <a id="back_space_new" >
                                        <%= link_to 'Voltar', "/#{I18n.locale}"+show_visitation_employee_path, class: "btn btn-primary"  %>
                                        <% if (@visitation.status <=> "Aguardando confirmacao") == 0 %>
                                        <a id="back_space_new" >
                                            <br><br>
                                            <%= link_to t(:cancel_visit), "/#{I18n.locale}"+get_cancel_visitation_user_path(:id => @visitation.id), class: "btn btn-warning destroy-btn" %>
                                            <% end %>
                                        </div>
                                        <%end%>
                                    </div>
                                </div>
                            </div>
                        </body>
