<body>
  <br><br>
  <div class="col-md-6 col-md-offset-3">
    <div class="container">
      <div class="row">
        <h1>Informação de Visita</h1>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-3">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <br>
        <div class = "actions" >
          <b>Dia:</b>
          <%= @visitation.date %>
        </div>
        <br>
        <div class = "actions" >
          <b>Hora:</b>
          <%= @visitation.time %>
        </div>
        <br>
        <div class = "actions" >
          <b>Status:</b>
          <%= @visitation.status %>
        </div>
        <br>
        <div class = "actions" >
          <b>Quantidade de Visitantes:</b>
          <%= @visitation.visitants_amount %>
        </div>
        <br>
        <div class= "actions" >
          <b>Descrição:</b>
          <%= @visitation.description %>
        </div>

        <br> <p>
        <% if (current_user.is_employee)%>
        <div class= "actions" >
         <%= link_to 'Voltar', show_visitation_url, class: "btn btn-primary"  %>
       </div>
       <%else%>
       <div class= "actions" >
         <%= link_to 'Voltar', show_visitation_user_url, class: "btn btn-primary"  %>
       </div>
       <%end%>
     </div>
   </div>
 </div>
</body>
