<body id="page-top">
    <head>
      <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
      <link href="css/creative.css" rel="stylesheet">
    </head>
    <body id="aplication-body">
      <section id="services">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading">Calendário de Visitas</h2>
              <hr class="primary">
            </div>
          </div>
        </div>
  <div class="col-md-6 col-md-offset-3">
  <div class="actions">
    <%= link_to 'Pesquisar por mês', show_visitation_calendar_url, class: "btn btn-primary"%>
  </div>
  <br>
    <%= week_calendar number_of_weeks: 1 do |date, visitations| %>
    <b> <%= date.strftime("%d")  %> </b>
    <% visitations.each do |visitations| %>
    <div>
     <%= visitations.description %>
   </div>
   <% end %>
   <% end %>
   <div class= "actions" >
    <%= link_to 'Criar visita', new_visitation_url, class: "btn btn-primary"%>
    <a id="back_space" >
    <%= link_to 'Voltar', home_url, class: "btn btn-primary"%>
    </div>
  </div>
</body>
