<body id="page-top">
	<br><br>
	<div class="col-md-6 col-md-offset-3">
		<div class="container">
			<div class="row">
				<h1>Requisição de Visitação</h1>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-md-offset-3">
		<div class = "container">
			<p>Preencha as informações abaixo:</p>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %>"><%= value %></div>
				<% end %>
				<%= form_for @visitation do |f| %>
				<% if @visitation.errors.any? %>
				<div id="error_explanation">
					<div class="alert-error">
						O formulário contém <%= pluralize(@visitation.errors.count, "erro") %>.
					</div>
					<ul>
						<% @visitation.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
						<%end%>
					</ul>
				</div>
				<%end%>
				<br>
				<div class = "field" >
					<%= f.label :Data %> &nbsp
					<%= f.date_select :date, default: Date.today %>
				</div>
				<br>
				<div class="field">
					<%= f.label :Horário %> &nbsp
					<%= f.time_select :time, minute_step: 15, start_hour: 8, end_hour: 16 %>
				</div>
				<br>
				<div class = "field" style="width: 200px">
					<%= f.label :Quantidade_de_Visitantes%>
					<%= f.number_field :visitants_amount, min: 1, max: 100, :required => true, class: 'form-control' %>
				</div>
				<br>
				<div class = "field" style="width: 200px">
					<%= f.label :Faixa_etária_dos_visitantes%>
					<%= f.number_field :groups_age, :required => true, min: 0, max: 100, class: 'form-control' %>
				</div>
				<br>
				<div class = "field"  >
					<%= f.label :Instituição %> <br>
					<%= radio_button_tag(:visitation_type, "Pessoa fisica") %>
					<%= label_tag(:visitation_type, "Pessoa fisica") %>
					&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
					<%= radio_button_tag(:visitation_type, "Escola publica") %>
					<%= label_tag(:visitation_type, "Escola publica") %>
					&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
					<%= radio_button_tag(:visitation_type, "Escola privada") %>
					<%= label_tag(:visitation_type, "Escola privada") %>
				</div>

				<br>
				<div class="field">
		    		<label for="objective">Objetivo</label>
		   			<select class="form-control" >
		      			<option> </option>
		      			<option>Educacao</option>
		      			<option>Pesquisa</option>
		      			<option>Lazer</option>
		    		</select>
		    	</div>
		    	<br>
		    	<div class="field">
		    		<label for="spaces">Espaços que irá utilizar</label>
					<select class="form-control">
		      			<option> </option>
		      			<option>Trilhas</option>
		      			<option>Espaco JBB</option>
		      			<option>Amboas</option>
		    		</select>
		    	</div>
		    	<br>
				<div class = "field" >
					<%=f.label :Descrição%>
					<%=f.text_area :description, :cols => "50", :rows => "5", :required => true, class: 'form-control'%>
				</div>
				<br>
				<div class="actions">
					<%= f.submit "Cadastrar", class: "btn btn-primary"%>
					<%= link_to "Voltar", root_url , class: "btn btn-primary" %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</body>
