<h1>Visitação</h1>

<%= form_for @visitation do |f| %>

<% if @visitation.errors.any? %>
              <div id="error_explanation">
                          <div class="alert-error">
                                     O formulário contém <%= pluralize(@visitation.errors.count, "erro") %>.
                          </div>
                          <ul>
                                     <% @visitation.errors.full_messages.each do |msg| %>
                                     <li><%= msg %></li>
                                     <% end %>
                          </ul>
              </div>
  <% end %>


  	<p>
	<div class = "field" >
		<%= f.label :Data %>
		<%= f.date_select(:date, class: 'form-control') %>
	</div>
	</p>

	<p>
	<div class = "field" >
		<%= f.label :Horario %>
		<%= f.time_select(:time, minute_step: 15)%>
	</div>
	</p>

	<p>
	<div class = "field" >
		<%= f.label :Quantidade_de_Visitantes%>
		<%= f.number_field :visitants_amount, :required => true %>
	</div>
	</p>

	<p>
	<div class = "field" >
		<%= f.label :Descrição %>
		<%= f.text_area :description, :cols => "50", :rows => "5"%>
	</div>
	</p>


	<p>
	<div class="actions">
		<%= f.submit "Cadastrar", class: "btn btn-primary"%>
		<%= link_to "Voltar", home_visitation_url, class: "btn btn-primary" %>
	</div>
	</p>


<% end %>
	