<body id="page-top">
    <head>
        <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="css/creative.css" rel="stylesheet">
    </head>
    <body id="aplication-body">
        <section id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading"><%= t(:visit_request) %></h2>
                        <hr class="primary">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <div class = "container">
                    <p><%= t(:fill_update) %></p>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <% flash.each do |key, value| %>
                        <div class="alert alert-<%= key %>"><%= value %></div>
                        <% end %>
                        <%= form_for @visitation do |f| %>
                        <% if @visitation.errors.any? %>
                        <div id="error_explanation">
                            <div class="alert-error">
                                <%= t(:form_has) %> <%= pluralize(@visitation.errors.count, "erro") %>.
                            </div>
                            <ul>
                                <% @visitation.errors.full_messages.each do |msg| %>
                                <li><%= msg %></li>
                                <% end %>
                            </ul>
                        </div>
                        <% end %>
                        <br>
                        <div class = "field" >
                            <h0><b><%= t(:date_schedule) %></b></h0> &nbsp
                            <%= f.date_select :date, default: Date.today, start_year: Date.today.year %>
                        </div>
                        <br>
                        <div class = "field">
                            <h0><b><%= t(:scheduled_period) %></b></h0> <br>
                            <%= f.radio_button(:period, "Matutino") %>
                            <%= f.label(:period, t(:morning_period)) %>
                            &nbsp &nbsp &nbsp
                            <%= f.radio_button(:period, "Vespertino") %>
                            <%= f.label(:period, t(:afternoon_period)) %>
                        </div>
                        <br>
                        <div class = "form-inline" >
                            <div class = "form-group">
                                <h0><b><%= t(:objective_visit) %></b></h0> &nbsp
                                <%objectives = [[t(:education), "Educacao"], [t(:research), "Pesquisa"], [t(:recreation), "Lazer"]] %>
                                &nbsp &nbsp
                                <%= f.select :objective, objectives%>
                                &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                                <h0><b><%= t(:spaces_to_visit) %></b></h0>
                                &nbsp&nbsp
                                <%spaces_jbb = [[t(:tracks), "Trilhas"],[t(:spaces), "Espaco JBB"], [t(:both_options), "Ambos"]] %>
                                <%= f.select :spaces, spaces_jbb, class: 'form-control'%>
                            </div>
                        </div>
                        <br>
                        <div class="form-inline">
                            <h0><b><%= t(:number_visitors) %></b></h0> &nbsp &nbsp
                            <div class = "form-group" style="width: 100px">
                                <%= f.number_field :visitants_amount, min: 1, max: 45, width: 10, :required => true, class: 'form-control'%>
                            </div>

                            <h0><b><%= t(:age_of_visitors) %></b></h0> &nbsp 
                            <div class = "form-group" style="width: 180px">
                                <%= f.number_field :groups_age, :required => true, min: 10, max: 100, class: 'form-control' %>
                            </div>
                            <br>
                            <br>
                            <h0><b><%= t(:visitors_over_12_years) %></b></h0>
                            <div class = "form-group" style="width: 180px"> &nbsp &nbsp
                                <%= f.number_field :visitants_paying, :required => true, min: 0, max: 45, class: 'form-control' %>
                            </div>
                        </div>
                        <br>
                        <div class = "field">
                            <h0><b><%= t(:social_reason) %></b></h0> <br>
                            <%= f.radio_button(:visitation_type, "Grupo de Inclusão") %>
                            <%= f.label(:visitation_type, t(:inclusion_grup)) %>
                            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                            <%= f.radio_button(:visitation_type, "Escola publica", :onclick=>"showMe('Escolas')") %>
                            <%= f.label(:visitation_type, t(:public_school)) %>
                            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                            <%= f.radio_button(:visitation_type, "Escola privada", :onclick=>"showMe('Escolas')") %>
                            <%= f.label(:visitation_type, t(:private_school)) %>
                        </div>
                        <br>
                        <div id="Escolas">
                            <div class = "field">
                                <h0><b><%= t(:want_guide) %></b></h0> <br>
                                &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <%= f.radio_button(:has_guide, true, :checked => true) %>
                                <%= f.label t(:yes_answer_guide) %> <br>
                                &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <%= f.radio_button(:has_guide, false) %>
                                <%= f.label t(:no_answer_guide) %>
                            </div>
                        </div>
                        <br>
                        <div class = "field" >
                            <h0><b><%= t(:description) %></b></h0>
                            <%=f.text_area :description, :cols => "50", :rows => "5", :required => true, class: 'form-control'%>
                        </div>
                        <br>
                        <div class="actions">
                            <%= f.submit t(:register), id:'registration', class: "btn btn-primary"%>
                            <a id="space" >
                                <%= link_to t(:view_schedule), "/#{I18n.locale}"+show_visitation_calendar_path, class: "btn btn-primary"%>
                                <a id="new" >
                                    <%= link_to t(:back), "/#{I18n.locale}/" , id:'registration', class: "btn btn-primary" %>
                                </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
</body>
