<!DOCTYPE html>
<html lang="en">
<head>
  <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="css/creative.css" rel="stylesheet">
</head>
<body id="aplication-body">
  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Minhas visitações</h2>
          <hr class="primary">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %>"><%= value %></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="col-md-10 col-md-offset-1">
    <div class="table-hover">
      <% if !@visitation.empty?%>
      <div class="table-hover">
        <table border=0 class="table" >
          <br /> <br />
          <tr>
            <th> Data </th>
            <th> Hora </th>
            <th> Status </th>
            <th> Nº de Visitantes </th>
            <th> Nº de Pagantes </th>
            <th> Preço da Visita </th>
            <th> Descrição </th>
          </tr>
          <% @visitation.each do |visitation| %>
          <tr>
            <td> <%= visitation.date %> </td>
            <% timeString = visitation.time.to_s %>
            <td> <%= timeString[11..18] %> </td>
            <td> <%= visitation.date.strftime("%d/%m/%Y") %> </td>
            <td> <%= visitation.time.to_s(:time) %> </td>
            <td> <%= visitation.status %> </td>
            <td> <%= visitation.visitants_amount %> </td>
            <td> <%= visitation.visitants_paying %> </td>
            <td> <%= visitation.visitation_cost %> </td>
            <td> <%= visitation.description %> </td>
            <td> <%= link_to 'Mostrar', action: 'index_user', id: visitation %> </td>
            <% if (visitation.status <=> "Aguardando confirmacao") == 0 %>
            <td> <%= link_to "Cancelar Visitação", controller: "visitations",
              action: "cancel_visitation_user", id: visitation %> </td>
              <% end %>
            </tr>
            <% end %>
          </table>
          <a id="show" >
              <%= link_to "Voltar", user_my_requests_path(current_user), class: "btn btn-primary" %>
              <a id="back_space_new" >
            <%= link_to "Nova Visita", new_visitation_path, class: "btn btn-primary" %>

            <!-- <a href="/visitations/new">Nova Visita</a> -->
          <% else %>
          <div class="container">
            <div class="row">
              <h1>Você não tem visitas agendadas</h1>
            </div>
          </div>
          <br>
          <% end %>
        </div>
      </div>
    </div>
</body>
