<h1>Mostrar Visitações </h1>

<table border=1>
<tr>
<th> Data </th>
<th> Hora </td>
<th> Status </th>
<th> Quantidade de Visitantes </th>
<th> Descrição </th>
</tr>

<% @visitations.each do |visitation| %>
	<tr>
	<td> <%= visitation.date %> </td>
	<td> <%= visitation.time %> </td>
	<td> <%= visitation.status %> </td>
	<td> <%= visitation.visitants_amount %> </td>
	<td> <%= visitation.description %> </td>
	<td> <%= link_to 'Mostrar', action: 'index', id: visitation %> </td>
	<td> <%= link_to 'Cancelar Visitação', action: 'cancel_confirmation', id:visitation %> </td>
	</tr>
<% end %>
</table>
<p>
<%= link_to "Voltar", home_visitation_url %>