<h1>Lista de Funcionários<h1>

<table border="1">
  <thead>
    <tr>
      <th WIDTH=150>Nome</th>
      <th WIDTH=150>Data de nascimento</th>
      <th WIDTH=150>Sexo</th>
      <th WIDTH=150>Idade</th>
      <th WIDTH=150 colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td WIDTH=150><%= employee.Nome %></td>
        <td WIDTH=150><%= employee.Data_de_Nascimento %></td>
        <td WIDTH=150><%= employee.Sexo %></td>
        <td WIDTH=150><%= employee.Idade %></td>
        <td WIDTH=150><%= link_to 'Mostrar', employee %></td>
        <td WIDTH=150><%= link_to 'Editar', edit_cadastro_menor_path(cadastro_menor) %></td>
        <td WIDTH=150><%= link_to 'Deletar', employee, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>