<h1>Employees#new</h1>

	<%employee_form(@employee) do |form| %>
	
	<%#name%>
	<div class = "field">
		<%= form.label :cpf %>
		<%= form.text_field :cpf %>
	</div>

	<%#employee_name%>
	<div class = "field">
		<%= form.label :employee_name %>
		<%= form.text_field :employee_name %>
	</div>

	<%#email%>
	<div class = "field">
		<%= form.label :email %>
		<%= form.text_field :email %>
	</div>

	<%#birth%>
	<div class = "field">
		<%= form.name :birth %>
		<%= form.date_select :birth %>
	</div>

	<%#phone%>
	<div class = "phone">
		<%= form.name :phone %>
		<%= form.text_field :phone %>
	</div>

	<%#gender%>
	<div class = "gender">
		<%= form.name :gender %>
		<%= form.text_field :gender %>
	</div>

	<%#password_sieger%>
	<div class = "password_sieger">
		<%= form.name :password_sieger %>
		<%= form.text_field :password_sieger %>
	</div>
	
<p>Find me in app/views/employees/new.html.erb</p>
