<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class ="container">
    <div class="navbar-header">
      <nav>
        <ul>
          <% if logged_in? %>
            <li><%= link_to "Usuários", users_path %></li>
            <li>
              <ul>
                <li><%= link_to "Perfil", current_user %></li>
                <li><%= link_to "Configuraçãoes", '#' %></li>
                <li>
                  <%= link_to "Log out", sign_out_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Log in", root_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</nav>