<!DOCTYPE html>
<html>
  <head>
    <title>Jardim Botânico Web - JBBWeb</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class ="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="/"><font color = "black">Jardim Botânico Web</font></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
          <li>
            <a class="page-scroll" href="/users/<%= current_user.id %>"><font color = "black"> Olá <%= current_user.name %></font></a>
          </li>
          <% end %>
          <% if ! current_user %>
          <li>
            <a class="page-scroll" href="/sign_in"><font color = "black">Entrar</font></a>
          </li>
          <% else %>
          <li>
              <a class="page-scroll" href="/sign_out"><font color = "black">Sair</font></a>
          </li>
          <% end %>
          <% if ! current_user %>
          <li>
            <a class="page-scroll" href="/users/new"><font color = "black">Cadastre-se</font></a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <body id="aplication-body">
  	<%= render 'layouts/header' %>
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  	<%= yield %>
  </body>
</html>
