<p id="notice"><%= notice %></p>
<body id="page-top">
  <br><br>
  <div class="col-md-6 col-md-offset-3">
    <div class="container">
      <div class="row">
        <h1>Informação do Evento</h1>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-3">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <br>
        <div class = "actions">
          <b>Dia:</b>
          <%= @event.date %>
        </div>
        <br>
        <div class = "actions">
          <b>Hora:</b>
          <%= @event.time %>
        </div>
        <br>
        <div class = "actions">
          <b>Status:</b>
          <%= @event.status %>
        </div>
        <br>
        <div class = "actions" >
          <b>Quantidade de Pessoas:</b>
          <%= @event.people_amount %>
          <b>Periodo de Aluguel:</b>
          <%= @event.rental_period%>
        </div>
        <br>
        <div class = "actions" >
          <b>Espaço Solicitado:</b>
          <%= @event.jbb_space_requested%>
        </div>
        <br>
        <div class = "actions" >
          <b>Publico Estimado:</b>
          <%= @event.estimated_public%>
        </div>
        <br>
        <div class= "actions" >
          <b>Descrição:</b>
          <%= @event.description %>
        </div>
        <br> <p>
        <% if (current_user.is_employee)%>
          <div class= "actions" >
            <%= link_to 'Voltar', show_user_url, class: "btn btn-primary"  %>
          </div>
        <%else%>
          <div class= "actions" >
            <%= link_to 'Voltar', show_event_user_url, class: "btn btn-primary"  %>
          </div>

        <%end%>
        <% if (@event.status <=> "Aguardando confirmacao") == 0 %>
          <%= link_to "Cancelar Evento", class: "btn btn-warning destroy-btn", controller: "events", action: "cancel_event_user", id: @event %>
        <% end %>
        <div class= "actions" >
          <b>Resposta do JBB:</b>
          <%= @event.jbb_response_to_request%>
        </div>
        <br>
        <br>
        <div class= "actions" >
          <%= link_to 'Voltar', show_event_user_url, class: "btn btn-primary"%>
        </div>
      </div>
    </div>
  </div>
</body>
