<body id="page-top">
 <br><br><br><br>
 <div class="col-md-6 col-md-offset-3">
 <h2>Calendário de Eventos</h2>
     <%= month_calendar events: @events do |date, events| %>
     <b><%= date.strftime("%d") %></b>
     <% events.each do |event| %>
     <div>
         <br>
         <%= event.jbb_space_requested %>
     </div>
     <% end %>
     <% end %>
 <div class= "actions" >
      <%= link_to 'Voltar', events_url, class: "btn btn-primary"%>
      &nbsp&nbsp&nbsp&nbsp
      <%= link_to 'Pesquisar por semana', show_event_calendar_week_url, class: "btn btn-primary"%>
   </div>
   </div>
</body>
