<p id="notice"><%= notice %></p>
<body id="page-top">
  <head>
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="css/creative.css" rel="stylesheet">
  </head>
  <body id="aplication-body">
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Informação do Evento</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
  <div class="col-md-6 col-md-offset-3">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <b>Começa em</b>
        <div class = "actions">
          <b>Dia: </b>
          <%= @event.date_start.strftime("%d/%m/%Y") %>
        </div>
        <div class = "actions">
          <b>Hora: </b>
          <%= @event.time_start.to_s(:time) %>
        </div>
        <br>
        <b>Termina em:</b>
        <div class = "actions">
          <b>Dia:</b>
          <%= @event.date_end.strftime("%d/%m/%Y") %>
        </div>
        <div class = "actions">
          <b>Hora:</b>
          <%= @event.time_end.to_s(:time) %>
        </div>
        <br>
        <div class = "actions">
          <b>Status:</b>
          <%= @event.status %>
        </div>
        <br>
        <div class = "actions" >
          <b>Espaço solicitado:</b>
          <%= @event.jbb_space_requested%>
        </div>
        <br>
        <div class = "actions" >
          <b>Publico estimado:</b>
          <%= @event.estimated_public%>
        </div>
        <br>
        <div class= "actions spacing" >
          <b>Descrição:</b>
          <%= @event.description %>
        </div>
        <br>
        <table>
          <tr>
            <td>
              <div class = "actions" >
                <b>Precisa de energia elétrica?</b> &nbsp
                <%= @event.need_eletricity%> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
              </div>
            </td>
            <td>
              <div class = "actions" >
                <b>Precisa de água?</b> &nbsp
                <%= @event.need_water%> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
              </div>
            </td>
            <td>
              <div class = "actions" >
                <b>Precisa de servico de limpeza?</b> &nbsp
                <%= @event.need_clean_service%> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
              </div>
            </td>
          </tr>
        </table>
        <br>
        <div class= "actions sp" >
          <b>Outras informações:</b>
          <%= @event.other_informations %>
        </div>
        <br>
        <div class= "actions spacing" >
          <b>Uso comercial de imagens:</b>
          <%= @event.commercial_use_photos %>
        </div>
        <br>
        <div class= "actions spacing" >
          <b>Nome da instituição:</b>
          <%= @event.name_institute %>
        </div>
        <div class= "actions spacing" >
          <b>Endereço da instituição:</b>
          <%= @event.institute_address %>
        </div>
        <div class= "actions spacing" >
          <b>CNPJ da instituição:</b>
          <%= @event.institute_cnpj %>
        </div>
        <br>
        <br>
        <%flash.each do |key, value|%>
        <div class="alert alert-<%= key %>"><%= value %></div>
        <%end%>
        <%=form_for @event, url: '/events' do |f|%>
          <%if @event.errors.any?%>
          <div id="error_explanation">
            <div class="alert-error">
              O formulário contém <%=pluralize(@event.errors.count, "erro")%>.
            </div>
            <ul>
              <%@event.errors.full_messages.each do |msg|%>
              <li><%= msg %></li>
              <%end%>
            </ul>
          </div>
          <%end%>
          <div class = "field" >
            <%=f.label :Resposta_da_Requisição%>
            <%=f.text_area :jbb_response_to_request, :cols => "50", :rows => "5", class: 'form-control'%>
          </div>
          <br>
          <div class = "field" >
            <%=f.label :Preço_do_Evento%>
            <%=f.number_field :price_payment, class: 'form-control'%>
          </div>
          <br>
          <br>
          <div class="actions">
              <%= link_to 'Voltar', show_event_employee_url, :required => true, class: "btn btn-primary"%>
              <% if (@event.status <=> "Aguardando analise") == 0 %>
                  <%= link_to "Aceitar Evento", get_accept_event_employee_url(:id => @event.id), class: "btn btn-primary" %>
                  <%= link_to "Recusar Evento", get_refuse_event_employee_url(:id => @event.id), class: "btn btn-warning destroy-btn" %>
              <%end%>
              <%if (@event.status <=> "Agendado") == 0%>
                 <%= link_to "Cancelar Evento", get_cancel_event_employee_url(:id => @event.id), class: "btn btn-warning destroy-btn" %>
              <%end%>
              <% if (@event.status <=> "Cancelado por funcionario") == 0 ||
                  (@event.status <=> "Cancelado pelo usuario") == 0 ||
                  (@event.status <=> "Recusado por funcionario") == 0 %>
                  <%= link_to "Deletar Evento", get_delete_event_employee_url(:id => @event.id), class: "btn btn-warning destroy-btn" %>
              <%end%>
              <%= link_to "Gerar PDF", events_path(format: 'pdf', :id => @event.id), class: "btn btn-primary"%>
          </div>
        <%end%>
        </div>
      </div>
    </div>
  </body>
