<body id="page-top">
    <head>
      <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
      <link href="css/creative.css" rel="stylesheet">
    </head>
    <body id="aplication-body">
      <section id="services">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <div class='calendar'></div>
              <h2 class="section-heading"><%= t(:event_request) %></h2>
              <hr class="primary">
            </div>
          </div>
        </div>
	<div class="col-md-6 col-md-offset-3">
		<div class = "container">
      <p><b><%= t(:event_payment_possibility) %></b></p>
      <br><br>
			<p><%= t(:fill_update) %></p>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<%flash.each do |key, value|%>
				<div class="alert alert-<%= key %>"><%= value %></div>
				<%end%>
				<%=form_for @event do |f|%>
				<%if @event.errors.any?%>
				<div id="error_explanation">
					<div class="alert-error">
						O formulário contém <%=pluralize(@event.errors.count, "erro")%>.
					</div>
					<ul>
						<%@event.errors.full_messages.each do |msg|%>
						<li><%= msg %></li>
						<%end%>
					</ul>
				</div>
				<%end%>
				<br>
				<div class = "field event_date_start_1i">
					<b><%= t(:date_to_start) %></b>
					<%=f.date_select(:date_start) %>
				</div>
				<div class="field">
					<b><%= t(:time_to_start) %></b>
					<%=f.time_select(:time_start, minute_step: 15, start_hour: 8, end_hour: 16)%>
				</div>
				<br>
				<div class = "field">
					<b><%= t(:date_to_end) %></b>
					<%=f.date_select(:date_end)%>
				</div>
				<div class="field">
					<b><%= t(:time_to_end) %></b>
					<%=f.time_select(:time_end, minute_step: 15, start_hour: 8, end_hour: 16)%>
				</div>
        <br>
				<b><%= t(:space_request) %></b>
        <div class = "checkbox" >
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <%= check_box_tag("jbb_space_requested[]", value = "Anfiteatro") %>
          <%= label_tag("jbb_space_requested[]", "Anfiteatro") %>
          <br>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <%= check_box_tag("jbb_space_requested[]", value = "Área de Piquenique") %>
          <%= label_tag("jbb_space_requested[]", "Área de Piquenique") %>
          <br>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <%= check_box_tag("jbb_space_requested[]", value = "Biblioteca da Natureza") %>
          <%= label_tag("jbb_space_requested[]", "Biblioteca da Natureza") %>
          <br>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <%= check_box_tag("jbb_space_requested[]", value = "Casa de Chá") %>
          <%= label_tag("jbb_space_requested[]", "Casa de Chá") %>
          <br>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <%= check_box_tag("jbb_space_requested[]", value = "Centro de Excelência do Cerrado") %>
          <%= label_tag("jbb_space_requested[]", "Centro de Excelência do Cerrado") %>
          <br>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <%= check_box_tag("jbb_space_requested[]", value = "Centro de Visitantes") %>
          <%= label_tag("jbb_space_requested[]", "Centro de Visitantes") %>
          <br>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <%= check_box_tag("jbb_space_requested[]", value = "Estufas") %>
          <%= label_tag("jbb_space_requested[]", "Estufas") %>
          <br>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <%= check_box_tag("jbb_space_requested[]", value = "Horto Medicinal") %>
          <%= label_tag("jbb_space_requested[]", "Horto Medicinal") %>
          <br>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <%= check_box_tag("jbb_space_requested[]", value = "Jardim de Cheiros") %>
          <%= label_tag("jbb_space_requested[]", "Jardim de Cheiros") %>
          <br>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <%= check_box_tag("jbb_space_requested[]", value = "Jardim Evolutivo") %>
          <%= label_tag("jbb_space_requested[]", "Jardim Evolutivo") %>
          <br>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <%= check_box_tag("jbb_space_requested[]", value = "Jardim Japonês") %>
          <%= label_tag("jbb_space_requested[]", "Jardim Japonês") %>
          <br>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <%= check_box_tag("jbb_space_requested[]", value = "Orquidário") %>
          <%= label_tag("jbb_space_requested[]", "Orquidário") %>
          <br>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <%= check_box_tag("jbb_space_requested[]", value = "Unidade de Permacultura") %>
          <%= label_tag("jbb_space_requested[]", "Unidade de Permacultura") %>
          <br><br>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <%= check_box_tag("jbb_space_requested[]", value = "Não conheço os espaços do Jardim Botânico") %>
          <%= label_tag("jbb_space_requested[]", t(:dont_know_jbb_spaces)) %>
          <br><br>
        </div>
				<div class="form-inline">
					<b><%= t(:number_visitors) %></b> &nbsp&nbsp&nbsp
					<div class = "form-group" style="width: 200px">
						<%= f.number_field :estimated_public, min: 1, width: 10, :required => true, class: 'form-control'%>
					</div>
				</div>
				<br>
				<div class = "field">
					<table border = '0'>
						<td>
							<tr>
                <div class = "form-inline">
                  <b><%= t(:need_eletricity) %></b>
                  <a id="back_space_new" > </a>
  								<b><%= t(:need_water) %></b>
                </div>
							</tr>
							<tr>
                <div class = "form-inline">
                  <%= f.radio_button(:need_eletricity, "Sim")%>
  								<%= f.label(:need_eletricity, t(:yes_answer))%> &nbsp&nbsp&nbsp&nbsp
  								<%= f.radio_button(:need_eletricity, "Nao") %>
  								<%= f.label(:need_eletricity, t(:no_answer))%>
                  <a id="back_space_new" > </a> &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp
  								<%= f.radio_button(:need_water, "Sim")%>
  								<%= f.label(:need_water, t(:yes_answer))%> &nbsp&nbsp&nbsp&nbsp
  								<%= f.radio_button(:need_water, "Nao") %>
  								<%= f.label(:need_water, t(:no_answer)) %>
                </div>
  						</tr>
						</td>
					</table>
				</div>
				<br>
				<div class = "field" >
					<b><%= t(:other_informations) %></b>
					<%=f.text_area :other_informations, :cols => "50", :rows => "5", class: 'form-control'%>
				</div>
				<br>
				<div class = "field" >
					<b><%= t(:description) %></b>
					<%=f.text_area :description, :cols => "50", :rows => "5", :required => true, class: 'form-control'%>
				</div>
				<br><br>
				<p><%= t(:case_institution) %></p>
				<div class="field">
					<b><%= t(:name_institute) %></b>
					<%= f.text_field :name_institute, autocomplete: "off", class: 'form-control', placeholder: t(:placeholder_name_institute) %>
				</div>
				<br>
				<div class="field">
					<b><%= t(:institute_address) %></b>
					<%= f.text_field :institute_address, autocomplete: "off", class: 'form-control', placeholder: t(:placeholder_institute_address) %>
				</div>
				<br>
				<div class="field">
					<b><%= t(:institute_cnpj) %></b>
					<%= f.text_field :institute_cnpj, autocomplete: "off", class: 'form-control', placeholder: t(:placeholder_institute_cnpj) %>
				</div>
				<br>
				<div class="actions">
					<%= f.submit t(:register),id:'registration', class: "btn btn-primary"%>
					<a id="space" >
					<%= link_to t(:view_schedule), "/#{I18n.locale}"+show_event_calendar_path, class: "btn btn-primary" %>
					<a id="new" >
					<%= link_to t(:back), "/#{I18n.locale}", class: "btn btn-primary"%>
				</div>
				<%end%>
			</div>
		</div>
	</div>
</body>
