<body id="page-top">
    <br><br>
    <head>
      <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
      <link href="css/creative.css" rel="stylesheet">
    </head>
    <body id="aplication-body">
      <section id="services">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading"><%= t(:show_event) %></h2>
              <hr class="primary">
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-3">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %>"><%= value %></div>
                <% end %>
                <div class="table-hover">
                    <table border=0 class="table" >
                        <tr>
                            <th><%= t(:date_schedule) %></th>
                            <th><%= t(:time_schedule) %></th>
                            <th><%= t(:status) %></th>
                            <th><%= t(:space_request) %></th>
                            <th><%= t(:user_info) %></th>
                        </tr>
                        <% @event.each do |event| %>
                        <tr>
                            <td> <%= l(event.date_start, format: :long) %> </td>
                            <td> <%= l(event.time_start, format: :time_only) %> </td>
                            <td> <%= event.status %> </td>
                            <td> <%= event.jbb_space_requested %> </td>
                            <td><%= link_to event.user.name, "/#{I18n.locale}/events/user_information?id=#{event.id}" %></td>
                            <td><%= link_to t(:analyze_order), "/#{I18n.locale}/events/index_employee?id=#{event.id}" %></td>
                        </tr>
                        <%end%>
                    </table>
                    <th>Valor arrecadado: R$</th>
                    <%= @sum_of_payments %> <br> <br>
                </div>
                <%= link_to t(:generate_pdf_next_week), show_event_employee_path(format: 'pdf', period: "next_week"), class: "btn btn-primary"%>
                <br><br>
                <%= link_to t(:generate_pdf_last_month), show_event_employee_path(format: 'pdf', period: "last_month"), class: "btn btn-primary"%>
                <a id="back_space" >
                <%= link_to t(:back), "/#{@language}/users/my_requests/#{current_user.id}", class: "btn btn-primary" %>
            </div>
        </div>
    </div>
</body>
