<body id="page-top">
	<br><br>
	<div class="col-md-6 col-md-offset-3">
		<div class="container">
			<div class="row">
				<h1>Mostrar Eventos</h1>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-md-offset-3">
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %>"><%= value %></div>
				<% end %>
				<div class="table-hover">
					<table border=1 class="table table-bordered" >
						<br /> <br />
						<tr>
							<th>Data</th>
								<th>Hora</th>
								<th>Status</th>
								<th>Periodo de Aluguel</th>
								<th>Espaço Solicitado</th>
								<th>quantidade de Pessoas</th>
								<th>Descrição</th>
						</tr>
						<% @event.each do |event| %>
							<tr>
								<td> <%= event.date %> </td>
								<% timeString = event.time.to_s %>
								<td> <%= timeString[11..18] %> </td>
								<td> <%= event.status %> </td>
								<td> <%= event.rental_period %> </td>
								<td> <%= event.JBB_space_requested %> </td>
								<td> <%= event.estimated_public %> </td>
								<td> <%= event.description %> </td>
								<td> <%= link_to 'Mostrar', action: 'index_employee', id: event.id %> </td>
							</tr>
						<%end%>
					</table>
				</div>
				<%= link_to "Voltar", home_url, class: "btn btn-primary" %>
			</div>
		</div>
	</div>
</body>
