<body id="page-top">
  <br><br><br>
  <div class="container">
    <div class="row">
      <h1>Mostrar Eventos</h1>
    </div>
  </div>
</div>
<div class="col-md-6 col-md-offset-3">
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <div class="table-hover">
        <table border=1 class="table table-bordered" >
          <tr>
            <th>Data</th>
            <th>Hora</th>
            <th>Status</th>
            <th>Espaço Solicitado</th>
          </tr>
          <% @event.each do |event| %>
          <tr>
            <td> <%= event.date_start %> </td>
            <% timeString = event.time_start.to_s %>
            <td> <%= timeString[11..18] %> </td>
            <td> <%= event.status %> </td>
            <td> <%= event.jbb_space_requested %> </td>
            <td><%= link_to 'Mostrar', action: 'index_user', id: event.id %></td>
            <% if (event.status <=> "Aguardando analise") == 0 %>
            <td>
              <%= link_to "Cancelar Evento", controller: "events",
              action: "cancel_event_user", id: event %>
            </td>
            <%end%>
          </tr>
          <%end%>
        </table>
      </div>
      <%= link_to "Voltar", home_url, class: "btn btn-primary" %>
    </div>
  </div>
</div>
</div>
</body>
