<body id="page-top">
  <head>
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="css/creative.css" rel="stylesheet">
  </head>
  <body id="aplication-body">
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Mostrar Eventos</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
    </section>
    <div class="col-md-6 col-md-offset-3">
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
          <div class="table-hover">
            <table border=0 class="table" >
              <tr>
                <th>Data</th>
                <th>Hora</th>
                <th>Status</th>
                <th>Espaço Solicitado</th>
              </tr>
              <% @event.each do |event| %>
              <tr>
                <td> <%= event.date_start.strftime("%d/%m/%Y") %> </td>
                <td> <%= event.time_start.to_s(:time) %> </td>
                <td> <%= event.status %> </td>
                <td> <%= event.jbb_space_requested %> </td>
                <td><%= link_to 'Mostrar', action: 'index_user', id: event.id %></td>
                <% if (event.status <=> "Aguardando analise") == 0 %>
                <td>
                  <%= link_to "Cancelar Evento", controller: "events",
                  action: "cancel_event_user", id: event %>
                </td>
                <%end%>
              </tr>
              <%end%>
            </table>
          </div>
          <br>
          <div class="action" >
            <a id="show" >
            <%= link_to "Voltar", user_my_requests_path(current_user), class: "btn btn-primary" %>
            <a id="back_space_new" >
            <%= link_to "Novo Evento", events_path, class: "btn btn-primary" %>
            </div>
            <br><br><br>
          </div>
        </div>
      </div>
    </body>
  </body>
