<body id="page-top">
  <head>
    <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="css/creative.css" rel="stylesheet">
  </head>
  <body id="aplication-body">
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading"><%= t(:show_event) %></h2>
            <hr class="primary">
          </div>
        </div>
      </div>
    </section>
    <div class="col-md-6 col-md-offset-3">
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
          <% if !@event.empty?%>
          <div class="table-hover">
            <table border=0 class="table" >
              <tr>
                <th><%= t(:date_schedule) %></th>
                <th><%= t(:time_schedule) %></th>
                <th><%= t(:status) %></th>
                <th><%= t(:space_request) %></th>
              </tr>
              <% @event.each do |event| %>
              <tr>
                <td> <%= l(event.date_start, format: :long) %> </td>
                <td> <%= l(event.time_start, format: :time_only) %> </td>
                <td> <%= event.status %> </td>
                <td> <%= event.jbb_space_requested %> </td>
                <td><%= link_to t(:show), "/#{I18n.locale}/events/index_user?id=#{event.id}" %></td>
                <% if (event.status <=> "Aguardando analise") == 0 %>
                <td>
                  <%= link_to t(:cancel_event), controller: "events",
                  action: "cancel_event_user", id: event %>
                </td>
                <%end%>
              </tr>
              <%end%>
            </table>
            <a id="show" >
          <br> <br>
          </div>
          <% else %>
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading"><%= t(:no_scheduled_event) %></h2>
            </div>
          </div>
          <% end %>
          <br>
          <div class="action" >
            <a id="show" >
            <a id="back_space_new" >
            <%= link_to t(:back), "/#{@language}/users/my_requests/#{current_user.id}", class: "btn btn-primary" %>
            <a id="back_space_new" >
            <a id="back_space_new" >
            <a id="back_space_new" >
            <%= link_to t(:new_event), events_path, class: "btn btn-primary" %>
            </div>
            <br><br><br>
          </div>
        </div>
      </div>
    </body>
  </body>
