
<body id="page-top">
    <br><br>
    <div class="col-md-6 col-md-offset-3">
        <div class="container">
            <div class="row">
                <h1>Mostrar Eventos</h1>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-3">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %>"><%= value %></div>
                <% end %>
                <div class="table-hover">
                    <table border=0 class="table" >
                        <tr>
                            <th>Data</th>
                            <th>Hora</th>
                            <th>Status</th>
                            <th>Espaço Solicitado</th>
                        </tr>
                        <% @event.each do |event| %>
                        <tr>
                            <td> <%= event.date_start.strftime("%d/%m/%Y") %> </td>
                            <td> <%= event.time_start.to_s(:time) %> </td>
                            <td> <%= event.status %> </td>
                            <td> <%= event.jbb_space_requested %> </td>
                            <td><%= link_to 'Mostrar', action: 'index_employee', id: event.id %></td>
                        </tr>
                        <%end%>
                    </table>
                    <th>Valor arrecadado: R$</th>
                    <%= @sum_of_payments %> <br> <br>
                </div>
                <%= link_to "Gerar PDF", show_event_employee_path(format: 'pdf'), class: "btn btn-primary"%>
                <%= link_to "Voltar", user_my_requests_url(current_user), class: "btn btn-primary" %>
            </div>
        </div>
    </div>
</body>
