<body id="page-top">
  <br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <h1> Entrar</h1>
        <%= form_for :session, url: sign_in_path do |f| %>
        <div class="field">
         <%= f.label :email %><br />
         <%= f.email_field :email, autofocus: true, :required => true, class: "form-control" %>
        </div>
        <br>
        <div class="field">
        <%= f.label :senha %><br />
        <%= f.password_field :password, autocomplete: "off", :required => true, class: "form-control" %>
        </div>
         <div class="checkbox">
          <label><input type="checkbox">Lembrar-me</label>
        </div>
        <br>
        <div class="actions">
         <%= f.submit "Entrar", class: "btn btn-primary" %>
        </div>
        <br>
        <p>Novo Usuário? <%= link_to "Cadastre-se agora", new_user_path %></p>
        <%end%>
      </div>
    </div>
  </div>
</body>
