<body id="page-top">
	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
		<div class ="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand page-scroll" href="#page-top"><font color = "black">Jardim Botânico Web</font></a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a class="page-scroll" href="#sign_in"><font color = "black">Login</font></a>
					</li>
					<li>
						<a class="page-scroll" href="#about"><font color = "black">Sobre</font></a>
					</li>
					<li>
						<a class="page-scroll" href="#contact"><font color = "black">Contato</font></a>
					</li>
					<li>
						<a class="page-scroll" href="#trails"><font color = "black">Trilhas</font></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<br>
	<br>

	<div class="container">
		<div class="row">
			<h1>Cadastro de Usuários</h1>
		</div>
	</div>
	<div class = "container">
		<p>Preencha as informações abaixos:</p>
	</div>

	<div class="container">
		<div class="row">
			<%= form_for @user do |f| %>
				<% if @user.errors.any? %>
					<div id="error_explanation">
						<div class="alert-error">
							O formulário contém <%= pluralize(@user.errors.count, "erro") %>.
						</div>
						<ul>
							<% @user.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
				<div class="field">
					<%= f.label :Nome %>
					<%= f.text_field :name, :required => true %>
				</div>
				<div class="field">
					<%= f.label :Email %>
					<%= f.email_field :email, :required => true %>
				</div>
				<div class="field">
					<%= f.label :Senha %>
					<%= f.password_field :password_digest, :required => true %>
				</div>
				<!--  <div class="field">
		<%= f.label :Confirmação_de_senha %>
		<%= f.password_field :password_confirmation %>
		</div> -->
		<div class="field">
			<%= f.label :CPF %>
			<%= f.text_field :cpf, :required => true %>
		</div>
		<div class="field">
			<%= f.label :Telefone %>
			<%= f.text_field :phone, :required => true %>
		</div>
		<div class="field">
			<%= f.label :Gênero %>
			<%= f.select 'gender', options_for_select(["", "Feminino", "Masculino"]), :select => params[:gender], :required => true %>
		</div>
		<label> Data de Nascimento: </label>
		<td align="left">
		</td>
		<tr>
		</tr>
		<td> 
			<%= f.text_field :birth, :required => true %>


			<div class="actions">
				<%= f.submit "Cadastrar"%>
				<%= link_to "Bem Vindos!", home_path %>
			</div>
		<% end %>
		</div>
	</div>
</body>
