<body>
<br>
<br>	
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
			<h1>Atualize seu perfil</h1>
		</div>
	</div>
	</div>
		<div class = "container">
			<div class = "row">
				<div class = "col-md-6 col-md-offset-3">
				<p>Preencha as informações abaixos:</p>
			</div>
		</div>
	</div>
<%= render 'form' %>
<%= form_for :user, url: user_edit_path do |f| %>
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<div class="alert-error">
				O formulário contém <%= pluralize(@user.errors.count, "erro") %>.
			</div>
			<ul>
				<% @user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="actions">
		<%= f.submit "Atualizar", class: "btn btn-primary"%>
		<%= link_to "Voltar", home_path, class: "btn btn-primary.focus" %>
	</div>
<% end %>
</body>