<body id="aplication-body">
    <head>
      <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
      <link href="css/creative.css" rel="stylesheet">
    </head>
    <body id="aplication-body">
      <section id="services">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading"><%=t(:update_profile)%></h2>
              <hr class="primary">
            </div>
          </div>
        </div>
  <div class="container">
    <div class = "row">
      <div class="col-md-6 col-md-offset-3">
        <p><%=t(:fill_update)%></p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
        <%= form_for @user do |f| %>
          <% if @user.errors.any? %>
            <div id="error_explanation">
              <div class="alert-error">
                <%=t(:form_has)%> <%= pluralize(@user.errors.count, "erro") %>.
              </div>
              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="field">
            <%= f.label t(:name) %>
            <%= f.text_field :name, :required => true, autocomplete: "off", class: 'form-control', placeholder: t(:placeholder_name) %>
          </div>
          <br>
          <div class="field">
            <%= f.label t(:email) %>
            <%= f.email_field :email, :required => true, autocomplete: "off", class: 'form-control', placeholder: t(:placeholder_email) %>
          </div>
          <br>
          <div class="field">
            <%= f.label t(:password) %>
            <%= f.password_field :password, :required => true, autocomplete: "off", class: 'form-control' , placeholder: t(:placeholder_password) %>
          </div>
          <br>
          <div class="field">
            <%= f.label :CPF %>
            <%= f.text_field :cpf, :required => true, autocomplete: "off", id: 'cpf', class: 'form-control',
                             placeholder: 'Ex.: 000.000.000-00', maxlength: '14',
                             :onkeypress => "CpfMask(this)", :onblur => "ValidateCPF(this)"%>
          </div>
          <br>
          <%= f.fields_for :phones do |ff| %>
            <div class="field">
              <%= ff.label t(:phone) %>
              <%= ff.text_field :phone, :required => true, autocomplete: "off", id: 'phone', class: 'form-control',
                                placeholder: '(00)00000-0000' , maxlength: '14',
                                :onkeypress => "PhoneMask(this)", :onblur => "ValidatePhone(this)"%>
            </div>
          <% end %>
          <br>
          <div class="form-group">
            <label for="gender"><%=t(:gender)%></label>
            <%genders = [["", ""], [t(:female), "Feminino"], [t(:male), "Masculino"], [t(:other), "Outro"]] %>
            <%= f.select :gender, genders, :required => true, class: 'form-control' %>
          </div>
          <div class="field">
            <%= f.label t(:birth) %>
            <%= f.text_field :birth, :required => true, autocomplete: "off", id: 'date', class: 'form-control',
                             value: @user.birth.strftime("%d/%m/%Y"), placeholder: t(:placeholder_birth), maxlength: '10',
                             :onkeypress => "DateMask(this)", :onblur => "ValidateDate(this)"%>
          </div>
          <br>
          <div class="actions">
            <%= f.submit t(:update), class: "btn btn-primary"%>
            <a id="update" >
            <a href="/<%= @language %>/users/<%= current_user.id %>" class="btn btn-primary"><%=t(:back)%></a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <br>
</body>
