<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="css/creative.css" rel="stylesheet">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body id="aplication-body">
  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
            <% if current_user.is_employee %>
              <h2 class="section-heading"><%= t(:just_request) %></h2>
            <% else %>
              <h2 class="section-heading"><%= t(:requests) %></h2>
            <% end%>
          <hr class="primary">
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          <div class="service-box">
                <% if current_user.is_employee %>
                    <a href="/<%= @language %>/visitations/show_employee">
                  <% else %>
                    <a href="/<%= @language %>/visitations/show_user">
                  <% end%>
            <i class="fa fa-4x fa-map-marker text-primary sr-icons"></i>
            <% if current_user %>
             <% if current_user.is_employee %>
             <h3><%= t(:manage_visit) %></h3>
            <p class="text-muted"><%= t(:manage_visit2) %></p>
             <% else %>
            <h3><%= t(:manage_visit) %></h3>
            <p class="text-muted"><%= t(:viewing_editing_visits)%></p>
            <% end%>
          </div>
        </div>
      <div class="col-md-6 text-center">
        <div class="service-box">
            <% if current_user.is_employee %>
              <a href="/<%= @language %>/events/show_employee">
            <% else %>
              <a href="/<%= @language %>/events/show_user">
            <% end%>
          <i class="fa fa-4x fa-users text-primary sr-icons"></i>
          <% if current_user %>
             <% if current_user.is_employee %>
             <h3><%= t(:manage_event) %></h3>
            <p class="text-muted"><%= t(:manage_event2)%></p>
             <% else %>
            <h3><%= t(:manage_event) %></h3>
            <p class="text-muted"><%= t(:viewing_editing_events)%></p>
            <% end%>
            <% end%>
        </div>
      </div>
      <% end %>
</section>
</body>
</html>
