<body id="aplication-body">
    <br>
    <br>
    <br>
    <head>
      <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
      <link href="css/creative.css" rel="stylesheet">
    </head>
  <div class="container">
  	<div class="row">
      <div class="col-md-6 col-md-offset-3">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <div class="col-lg-12 text-center">
        <h2 class="section-heading"><%= t(:profile) %><%= current_user.name %></h2>
        <hr class="primary">
      </div>
       <p>
        <b> <%= t(:email) %> </b>
        <%= current_user.email %>
      </p>
      <p>
        <b> CPF: </b>
        <%= current_user.cpf %>
      </p>
      <p>
        <b> <%= t(:phone) %> </b>
        <% current_user.phones.each do |p| %>
          <%= p.phone %>
        <% end %>
      </p>
      <p>
        <b> <%= t(:gender) %> </b>
        <% if (@user.gender <=> "Feminino") == 0 %>
        <%= t(:female) %>
        <%end%>
        <% if (@user.gender <=> "Masculino") == 0 %>
        <%= t(:male) %>
        <%end%>
        <% if (@user.gender <=> "Outro") == 0 %>
        <%= t(:other) %>
        <%end%>
      </p>
      <p>
        <b> <%= t(:birth) %> </b>
        <%= l(current_user.birth, format: :long) %>
      </p>
      <div class="actions">
        <%= link_to  t(:edit), user_edit_path(@language,current_user), class: "btn btn-primary" %>
        <a id="space" >
        <a href="/<%= @language %>/" class="btn btn-primary"><%=t(:back)%></a>
        <a id="new" >
        <%= link_to t(:exclude), current_user, method: :delete, data: { confirm: t(:confirm_delete_user) }, class: "btn btn-warning destroy-btn"%>
      </div>
      </div>
    </div>
  </div>
</body>
