<body id="aplication-body">
  <br>
  <br>

  <div class="container">
  	<div class="row">
      <div class="col-md-6 col-md-offset-3">
      	<h1>Perfil de <%= @user.name %></h1>
       <p>
        <b> Email: </b>
        <%= @user.email %>
      </p>
      <p>
        <b> CPF: </b>
        <%= @user.cpf %>
      </p>
      <p>
        <b> Telefone: </b>
        <%= @user.phones %>
      </p>
      <p>
        <b> Gênero: </b>
        <%= @user.gender %>
      </p>
      <p>
        <b> Data de Nascimento: </b>
        <%= @user.birth %>
      </p>
      <ul>
        <%= link_to "Editar", user_edit_path(@user), class: "btn btn-primary" %>   
        <%= link_to "Excluir minha conta", @user, method: :delete, data: { confirm: "Tem certeza que deseja excluir sua conta?" }, class: "btn btn-warning destroy-btn"%>
      
      </ul>
      </div>
    </div>
  </div>
</body>
