<br><br><br>
<div id="center">
	<div id="map-container">
		<div id="map-canvas"></div>
	</div>
	<div id= "legend" >
	<div class='my-legend'>
		<div class='legend-title'><%=t(:map_legend)%></div>
		<div class='legend-scale'>
			<ul class='legend-labels'>
				<li><span style='background:#EF9C87;'></span><%=t(:ecological_station)%></li>
				<li><span style='background:#79CAAF;'></span><%=t(:visitants_area)%></li>
				<div class='legend-source'><%=t(:source)+":"%> <a href="http://www.jardimbotanico.df.gov.br/" target="_blank"><%=t(:jbb)%></a></div>
			</ul>
			<a id= "new" >
			<a id= "space" >
			<input type="button" value="<%=t(:spaces)%>" onclick="setJbbSpaces();" class="btn btn-primary">
			<a id= "space" >
			<input type="button" value="<%=t(:rivers)%>" onclick="setJbbRivers();" class="btn btn-primary">
			<a id= "space" >
			<input type="button" value="<%=t(:vegetation)%>" onclick="setVegetation();" class="btn btn-primary">
			<a id= "space" >
			<input type="button" value="<%=t(:trails)%>" onclick="setTrails();" class="btn btn-primary">
			</div>
		</div>
	</div>
		<a id= "map" > </a>
    <a href="/<%= @language %>/" class = "btn btn-primary"> <%= t(:back) %> </a>
</div>
<br>

<style type='text/css'>
	.my-legend .legend-title {
		text-align: left;
		margin-bottom: 5px;
		font-weight: bold;
		font-size: 120%;
	}
	.my-legend .legend-scale ul {
		margin: 0;
		margin-bottom: 5px;
		padding: 0;
		float: left;
		list-style: none;
	}
	.my-legend .legend-scale ul li {
		font-size: 100%;
		list-style: none;
		margin-left: 0;
		line-height: 18px;
		margin-bottom: 2px;
	}
	.my-legend ul.legend-labels li span {
		display: block;
		float: left;
		height: 16px;
		width: 30px;
		margin-right: 5px;
		margin-left: 0;
		border: 1px solid #999;
	}
	.my-legend .legend-source {
		font-size: 90%;
		color: #999;
		clear: both;
	}
	.my-legend a {
		color: #777;
	}
</style>
